NEXT_PUBLIC_REST_BASE_URL=http://localhost:3000/api
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000

ENV_NAME=staging

KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=https://upcareerstaging.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000

MONGO_PATH=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=us-east-2

OPENAI_API_KEY=